@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
  --primary-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: initial;
  font-size: 62.5%;
}

body {
  /* 1rem  = 10px => (10px/16px) * 100 = 62.5%  */
  background-image: url('../images/bg-pattern-top-mobile.svg'),
    url('../images/bg-pattern-bottom-mobile.svg');
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  background-size: 80%, 100%;
  font-family: 'Spartan', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  /* padding: 8rem 0 10rem; */
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  min-width: 100%;
}

.content {
  margin: 80px 23px 41px 24px;
}

.content h1 {
  line-height: 1;
  margin: 80px 24px 18px 24px;
  font-size: 3.2rem;
  color: var(--primary-dark-magenta);
  font-weight: 700;
}

.content p {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 500;
}

.stars_wrapper {
  margin-top: 41px;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stars {
  margin: 0 auto;
  min-height: 78px;
  min-width: 327px;
  background-color: var(--Light-Grayish-Magenta);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.stars_group img {
  display: inline-flex;
  margin-right: 8.45px;
  margin-bottom: 10px;
}

span {
  font-weight: 700;
  color: var(--primary-dark-magenta);
}

.buyers_wrapper {
  margin: 49px auto 99px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--White);
  line-height: 1.7;
}

.buyers_wrapper ul > * + * {
  margin-top: 1.6rem;
}
blockquote {
  border-radius: 8px;
  background-color: var(--primary-dark-magenta);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 327px;
  min-height: 248px;
}

.buyer {
  margin: 40px 32px 26px 32px;
  display: flex;
  align-items: center;
  width: 160px;
  height: 40px;
}

.buyer img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.buyer span {
  color: var(--primary-soft-pink);
}

p {
  margin: 0 32px 32px 32px;
}

.attribution {
  color: var(--primary-dark-magenta);
  margin-bottom: 50px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--primary-dark-magenta);
  font-weight: 700;
}
a:hover {
  text-decoration: underline;
  transition: 2s;
}

@media screen and (min-width: 500px) {
  body {
    color: red;
  }
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 500px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 950px) {
  body {
    background-image: url('../images/bg-pattern-top-desktop.svg'),
      url('../images/bg-pattern-bottom-desktop.svg');
    min-height: 100vh;
    /* overflow-y: hidden; */
  }
  .container {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0 auto;
  }
  .wrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .stars_wrapper {
    margin-top: 145px;
  }

  .content {
    margin: 80px 24px 18px -20px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .content h1 {
    font-size: 4.8rem;
  }
  .content p {
    font-size: 1.5rem;
    margin-top: 50px;
  }

  .stars {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

    max-width: 450px;
    max-height: 56px;
  }

  .stars:nth-child(3) {
    transform: translateX(50px);
  }
  .stars:nth-child(1) {
    transform: translateX(-50px);
  }

  .buyers_wrapper ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    margin: 0 2rem 0 2rem;
  }

  blockquote:last-child {
    transform: translateY(40px);
  }
  blockquote:nth-child(2) {
    transform: translateY(20px);
  }

  .attribution {
    color: var(--primary-dark-magenta);
    margin-top: -100px;
    font-size: 2rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 1440px) {
  body {
    color: crimson;
  }
}
